html,
body {
  height: 100%;
  margin: 0;
}

.page-layout {
  height: auto;
  min-height: 100vh;
  overflow: visible;
}

.gridster-container {
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  overflow: visible;
}

gridster {
  height: 100%;
  width: 100%;
}

.editor-block {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0.15rem;
  box-sizing: border-box;
  overflow: hidden;
}

.editor-block:hover {
  background: var(--editor-background);
}

.editor-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.editor-container {
  flex-grow: 1;
  overflow: auto;
  // border-radius: 4px;
  // padding: 0.5rem;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.remove-button {
  align-self: flex-end;
  margin-bottom: 0.5rem;
  z-index: 1;
}

tiptap-editor {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: white;
}

body.exporting {
  *::-webkit-scrollbar {
    display: none !important;
  }

  .sp-button,
  .menu-button,
  .grid-lines,
  .sp-popover,
  .sp-action-group {
    display: none !important;
  }

  .gridster-container {
    background: transparent !important;
    overflow: visible !important;
  }
}

.page-zone {
  width: 794px;
  height: 1123px;
  display: block;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#capture-area {
  width: fit-content;
  height: fit-content;
}

.fab-buttons {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 1000;
}

body.exporting .gridster-container {
  gap: 0 !important;
}

body.exporting .page-zone:last-child {
  margin-bottom: 0 !important;
}

body.exporting .page-zone,
body.exporting .editor-container {
  overflow: visible !important;
}

body.exporting .gridster-item {
  transform: none !important;
}

sp-action-button:hover .fa-solid {
  color: var(--hover-colour);
}

.editor-block sp-action-menu {
  display: none;
}

.editor-block:hover sp-action-menu {
  display: block;
}

.image-editor-panel {
  position: fixed;
  left: 1rem;
  top: 50%;
  translate: 0 -50%;
  background: #2b2b2b;
  padding: 0.5rem;
  border-radius: 4px;
  z-index: 9999;
  box-shadow: 0 0 6px #000a;
  width: 360px;
}

.ie-canvas {
  width: 360px;
  height: 440px;
  border: 1px solid #555;
}

.ie-toolbar {
  display: flex;
  flex-wrap: wrap;
  gap: 0.35rem;
}
.ie-toolbar button,
.ie-toolbar .slider {
  flex: 1 0 48%;
  font-size: 0.75rem;
}
.ie-toolbar .primary {
  flex: 1 0 100%;
}

.ie-toolbar > * {
  position: relative;
}

.handle-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex: 1 0 48%;
  height: 1.55rem;
}

.handle-wrapper sp-color-handle {
  flex: 0 0 auto;
}

.handle-wrapper input[type="range"],
.handle-wrapper sp-slider {
  flex: 1 1 auto;
  min-width: 4rem;
}
